# 2016 October 17
# https://github.com/bevry/base

# Temp Files
yarn.lock
**/.docpad.db
**/out.*
**/*.log
**/*.cpuprofile
**/*.heapsnapshot

# Build Files
build/
components/
bower_components/
node_modules/

# Private Files
.env

# Documentation Files
docs/
guides/
BACKERS.md
CONTRIBUTING.md
HISTORY.md

# Development Files
web/
**/example*
.editorconfig
.eslintrc*
.jshintrc
.jscrc
coffeelint*
.travis*
nakefile*
Cakefile
Makefile

# Other Package Definitions
template.js
component.json
bower.json

# =====================================
# CUSTOM MODIFICATIONS

# Testing rule has been removed as we want to publish test files for use of the testing ecosystem
