language: node_js
before_script: "make test-prepare"
node_js:
  - "0.4"
  - "0.6"
  - "0.8"
  - "0.10"
notifications:
  irc:
    - "irc.freenode.org#bevry-dev"
  email:
    recipients:
      - travisci@bevry.me